/*GENERALE*/

*{
	margin: 0px;
	padding: 0px;
}

body{
	background-color: #000;
}

pre, p, h1{
	color: #FFF;
}

/*SECTION 1*/

#moduleCarousel{
	margin-top: 60px;
}

/*SECTION 2*/

#moduleText{
	margin-top: 40px;
}

.boxText{
	padding-left: 60px;
	background-color: #FFF;
	border-radius: 10px;
	box-shadow: 1px 1px 12px #555;
}

.boxText, h1, pre{
	color: #000;
}

/*SECTION 3*/

#moduleImage{
	margin-top: 40px;
}

.imgSection3{
	max-width : 100%;
	heigth: auto;
	display: block;
}

/*SECTION 4*/

#moduleSplit{
	margin-top: 40px;
	margin-bottom: 60px;
}

.boxSplit{
	background-color: #FFF;
	border-radius: 10px;
	box-shadow: 1px 1px 12px #555;
}

.boxSplit, p{
	color: #000;
}



